.Absorb img {
    width: 70%;
    padding-left: 15%;
    padding-top: 5%;
}
.Absorb h4 {
    padding-left: 17%;
}
.Absorb h1 {
    text-align: center;
}
.Absorb h3 {
    padding-left: 15%;
}
.Absorb p {
    padding-left: 15%;
    padding-right: 20%;
}